#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.header-container {
	border: black solid 1px;
	border-radius: 5px;
	padding: 50px 20px;
	background-color: gray;
}
